#left {
	width: 50%;
	height: 500px;
	float: left;
	background-color: gray;
}

#right {
	width: 50%;
	height: 500px;
	float: left;
	background-color: green;
}
#table1, th, td, tr  {
	border-collapse: collapse;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	font-size: 12pt;
}

#table1 th {
	color: white;
	background-color: black;
}

/*
#table1 tr {
	border-collapse:collapse;
	text-align: center;
	font-size: 12pt;
	border: 1px solid black;
}
*/
