#header {
color: black;
width: 90%;
margin: 20px;
padding: 5px;
border-style: solid;
border-color: blue;
border-width: 2px;
border-radius: 20px;
}

#menu {
color: white;
float: left;
clear: both;
width: 25%;
background-color: black;
margin: 20px;
padding: 5px;
}

#main {
margin: 20px;
padding: 5px;
}

#footer {
width: 90%;
clear: both;
margin: 20px;
padding: 5px;
border-style: solid;
border-color: blue;
border-width: 2px;
}
