table {
border: 2px solid blue;
}

caption {
font-weight: bold;
}

th {
font-weight: bold;
text-align: center;
border: 1px solid blue;
}

td {
border: 1px solid blue;
}

td.left {
text-align: left;
}

td.right {
text-align: right;
}
