#logicaland{ 
font-family: Helvetica, sans-serif; 
width: 50%; 
border-collapse: collapse;
background-color: white; 
}

#logicaland caption{ 
text-align: left; 
font-size: 12pt; 
padding-top: 25px; 
}

#logicaland td, #logicaland th{ 
text-align: center;
font-size: 14pt; 
border: 1px solid black; 
padding: 2px 2px 2px 2px; 
}

#logicaland tr.alt td{ 
background-color: aqua; 
}

#logicaland thead, #logicaland tfoot{ 
background-color: silver; 
}

